@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:,regular,500,700);
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
  font-size: 24px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (min-width: 280px) {
  .main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
    font-size: 48px;
    font-size: calc(0.02241 * 100vw + 17.72414px);
  }
}

@media (min-width: 1440px) {
  .main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
    font-size: 50px;
  }
}

.main__button, .contacts__button {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: transparent;
}

.main__button:hover, .contacts__button:hover {
  cursor: pointer;
  background-color: #ffffff1a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills, .contacts {
  padding: 100px 0px;
}

@media (max-width: 768px) {
  .skills, .contacts {
    padding: 70px 0px;
  }
}

@media (max-width: 480px) {
  .skills, .contacts {
    padding: 50px 0px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  background-color: #080808;
  color: #fff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

/* === COMMON CLASSES === */
.wraper {
  min-height: 100%;
  background-color: #080808;
  overflow: hidden;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 20px;
  max-width: 940px;
  margin: 0px auto;
}

.small-card {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 49% !important;
          flex: 0 1 49% !important;
}

@media (max-width: 768px) {
  .small-card {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
  }
}

/* ====================================== */
.main {
  padding: 80px 0;
}

@media (max-width: 480px) {
  .main {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__emoji {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.main__emoji img {
  width: 100%;
}

.main__text {
  max-width: 810px;
  margin-bottom: 10px;
}

.main__text span {
  opacity: 0.45;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  max-width: 725px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 12px 24px;
}

.main__button > svg path {
  fill: #ffffff;
}

.main__button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #080808;
}

.main__button:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #080808;
}

.summary {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.summary::before, .summary::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 240px;
  height: 240px;
}

@media (max-width: 1024px) {
  .summary::before, .summary::after {
    display: none;
  }
}

.summary::before {
  left: -1%;
  background: url("../img/smile.svg") center no-repeat;
}

.summary::after {
  right: -1%;
  background: url("../img/backhand.svg") center no-repeat;
}

@media (max-width: 992px) {
  .summary {
    min-height: 60vh;
  }
}

@media (max-width: 480px) {
  .summary {
    min-height: 50vh;
    padding-top: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.summary__text {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.summary__text span {
  color: #00ff41;
}

.summary__text span:last-child {
  color: #ff00d6;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.projects__project {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.project {
  overflow: hidden;
  border-radius: 80px;
}

.project:not(.small-card) {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .project {
    border-radius: 40px;
  }
  .project:not(:last-child) {
    margin-bottom: 12px !important;
  }
}

.project.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 60px;
  overflow: hidden;
  background: #7c53f2;
  border-radius: 80px;
  position: relative;
}

.small-card > .project__container {
  padding: 20px;
}

@media (max-width: 768px) {
  .project__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 40px;
  }
}

.project__content {
  padding: 86px 0;
}

@media (max-width: 768px) {
  .project__content {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .project__content {
    padding: 0px;
  }
}

.small-card .project__content {
  padding: 12px 0 44px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .small-card .project__content {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .small-card .project__content {
    padding: 0px;
  }
}

.project__title {
  text-align: left;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .project__title {
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 768px) and (min-width: 280px) {
  .project__title {
    font-size: 48px;
    font-size: calc(0.01552 * 100vw + 25.65517px);
  }
}

@media (max-width: 768px) and (min-width: 1440px) {
  .project__title {
    font-size: 48px;
  }
}

.project__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 370px;
  margin-bottom: 12px;
}

@media (min-width: 280px) {
  .project__text {
    font-size: 48px;
    font-size: calc(0.00345 * 100vw + 13.03448px);
  }
}

@media (min-width: 1440px) {
  .project__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .project__text {
    max-width: none;
    text-align: center;
  }
}

.project__stack {
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2px;
  max-width: 390px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .project__stack {
    max-width: none;
    min-height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.small-card .project__stack {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__technology {
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.project__technology:not(:last-child):before {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}

.project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .project__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  padding: 12px 16px;
  border: 2px solid #ede9f21a;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  height: 45px;
}

.project__icon {
  display: none;
  max-height: 300px;
}

.project__icon.small-card {
  display: block;
}

.project__icon.small-card > .project__icon {
  display: block;
}

.project__icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .project__icon {
    display: inline-block;
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  .project__icon {
    max-height: 150px;
  }
}

.light-crypto {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

@media (max-width: 992px) {
  .light-crypto {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
}

.light-crypto > .project__container {
  background: url("../img/projects/light-crypto.png") right center no-repeat, #7c53f2;
  background-size: 480px, 400px;
}

@media (max-width: 768px) {
  .light-crypto > .project__container {
    background: #7c53f2;
  }
}

.light-crypto .github {
  background: transparent;
}

.light-crypto .github > svg path {
  fill: #ffffff;
}

.light-crypto .github:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #7c53f2;
}

.light-crypto .github:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #7c53f2;
}

.light-crypto .visit {
  background: #ffffff80;
}

.light-crypto .visit > svg path {
  fill: #ffffff;
}

.light-crypto .visit:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #7c53f2;
}

.light-crypto .visit:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #7c53f2;
}

.users > .project__container {
  background: url("../img/projects/users.png") right center no-repeat, #2a84eb;
  background-size: 480px, 400px;
}

.users > .project__container .github {
  background: transparent;
}

.users > .project__container .github > svg path {
  fill: #ffffff;
}

.users > .project__container .github:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2a84eb;
}

.users > .project__container .github:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #2a84eb;
}

.users > .project__container .visit {
  background: #ffffff80;
}

.users > .project__container .visit > svg path {
  fill: #ffffff;
}

.users > .project__container .visit:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2a84eb;
}

.users > .project__container .visit:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #2a84eb;
}

@media (max-width: 768px) {
  .users > .project__container {
    background: #2a84eb;
  }
}

.ruby {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

.ruby > .project__container {
  background: #2e6eff;
  background-size: 480px, 400px;
  padding-bottom: 0;
}

.ruby .github {
  background: transparent;
}

.ruby .github > svg path {
  fill: #ffffff;
}

.ruby .github:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2e6eff;
}

.ruby .github:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #2e6eff;
}

.ruby .visit {
  background: #ffffff80;
}

.ruby .visit > svg path {
  fill: #ffffff;
}

.ruby .visit:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #2e6eff;
}

.ruby .visit:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #2e6eff;
}

.finance {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

.finance > .project__container {
  background: #eb714b;
  background-size: 480px, 400px;
  padding-bottom: 0;
}

.finance .github {
  background: transparent;
}

.finance .github > svg path {
  fill: #ffffff;
}

.finance .github:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #eb714b;
}

.finance .github:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #eb714b;
}

.finance .visit {
  background: #ffffff80;
}

.finance .visit > svg path {
  fill: #ffffff;
}

.finance .visit:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #eb714b;
}

.finance .visit:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #eb714b;
}

.scroll-opacity {
  opacity: 1 !important;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.skills {
  text-align: center;
  margin: 0px auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.skills::before, .skills::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 240px;
  height: 240px;
}

@media (max-width: 1024px) {
  .skills::before, .skills::after {
    display: none;
  }
}

.skills::before {
  left: -1%;
  background: url("../img/smile.svg") center no-repeat;
}

.skills::after {
  right: -1%;
  background: url("../img/backhand.svg") center no-repeat;
}

@media (max-width: 992px) {
  .skills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60vh;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
}

@media (max-width: 992px) {
  .skills__container {
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
}

.skills__text:not(:first-child) {
  word-spacing: 33px;
}

@media (max-width: 768px) {
  .skills__text:not(:first-child) {
    word-spacing: 10px;
  }
}

.skills__text:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .skills__text:not(:last-child) {
    margin-bottom: 10px;
  }
}

.skills__text > p {
  display: inline-block;
}

.skills__text__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum1n;
          flex-direction: colum1n;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  padding-bottom: 0px;
  text-align: center;
  margin: 0px auto;
}

.contacts__container > *:not(:last-child) {
  margin: 0px auto;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contacts__container > *:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 480px) {
  .contacts__container > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

.contacts__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 125%;
  color: #00ff41;
  padding: 4% 3%;
  background: #00ff411a;
  border-radius: 100px;
  -webkit-animation: link 2s ease-in-out infinite;
          animation: link 2s ease-in-out infinite;
}

.contacts__buttons {
  max-width: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  max-width: 725px;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  padding: 12px 24px;
}

.contacts__button > svg path {
  fill: #ffffff;
}

.contacts__button:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #080808;
}

.contacts__button:hover > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #080808;
}

@-webkit-keyframes link {
  0% {
    -webkit-box-shadow: #00ff41 0 0 0;
    box-shadow: #00ff41 0 0 0;
  }
  70% {
    -webkit-box-shadow: #080808 0 0 0 10px;
    box-shadow: #080808 0 0 0 10px;
  }
}

@keyframes link {
  0% {
    -webkit-box-shadow: #00ff41 0 0 0;
    box-shadow: #00ff41 0 0 0;
  }
  70% {
    -webkit-box-shadow: #080808 0 0 0 10px;
    box-shadow: #080808 0 0 0 10px;
  }
}
