@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:,regular,500,700);
.main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
  font-size: 24px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (min-width: 280px) {
  .main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
    font-size: 48px;
    font-size: calc( 0.02241 * 100vw + 17.72414px);
  }
}

@media (min-width: 1440px) {
  .main__text, .summary__text, .project__title, .skills__text, .contacts__label, .contacts__text {
    font-size: 50px;
  }
}

.main__button, .contacts__button {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: transparent;
}

.main__button:hover, .contacts__button:hover {
  cursor: pointer;
  background-color: #ffffff1a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.summary, .skills, .contacts {
  padding: 100px 0px;
}

@media (max-width: 768px) {
  .summary, .skills, .contacts {
    padding: 70px 0px;
  }
}

@media (max-width: 480px) {
  .summary, .skills, .contacts {
    padding: 50px 0px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  background-color: #080808;
  color: #fff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* === COMMON CLASSES === */
.wraper {
  min-height: 100%;
  background-color: #080808;
  padding: 0 20px 150px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: url("../img/Ñlapping_hands.svg") bottom center no-repeat;
}

@media (max-width: 480px) {
  .wraper {
    padding-bottom: 200px;
  }
}

.container {
  max-width: 940px;
  margin: 0px auto;
}

.email > span {
  background: url("../img/email.svg") left center no-repeat;
}

.telegram > span {
  background: url("../img/telegram.svg") left center no-repeat;
}

.linkedin > span {
  background: url("../img/linkedin.svg") left center no-repeat;
}

.github > span {
  background: url("../img/github.svg") left center no-repeat;
}

.resume > span {
  background: url("../img/resume.svg") left center no-repeat;
}

.visit > span {
  background: url("../img/arrow-white.svg") right center no-repeat;
}

.small-card {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 49% !important;
          flex: 0 1 49% !important;
}

@media (max-width: 768px) {
  .small-card {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 100% !important;
            flex: 1 1 100% !important;
  }
}

/* ====================================== */
.main {
  padding: 80px 0;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__emoji {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.main__emoji img {
  width: 100%;
}

.main__text {
  max-width: 810px;
  margin-bottom: 10px;
}

.main__text span {
  opacity: 0.45;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  max-width: 725px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__button {
  padding: 12px 24px;
}

.main__button span {
  padding-left: 22px;
}

.summary {
  max-width: 720px;
  margin: 0px auto;
}

.summary__text span {
  color: #00ff41;
}

.summary__text span:last-child {
  color: #ff00d6;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.projects__project {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.project {
  overflow: hidden;
  border-radius: 80px;
}

.project:not(.small-card) {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .project {
    border-radius: 40px;
  }
  .project:not(:last-child) {
    margin-bottom: 12px !important;
  }
}

.project.small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 60px;
  overflow: hidden;
  background: #7c53f2;
  border-radius: 80px;
  position: relative;
}

.small-card > .project__container {
  padding: 20px;
}

@media (max-width: 768px) {
  .project__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 40px;
  }
}

.light-crypto > .project__container {
  background: url("../img/projects/light-crypto.png") right center no-repeat, #7c53f2;
  background-size: 480px, 400px;
}

@media (max-width: 768px) {
  .light-crypto > .project__container {
    background: #7c53f2;
  }
}

.users > .project__container {
  background: url("../img/projects/users.png") right center no-repeat, #2a84eb;
  background-size: 480px, 400px;
}

@media (max-width: 768px) {
  .users > .project__container {
    background: #2a84eb;
  }
}

.ruby > .project__container {
  background: #2e6eff;
  background-size: 480px, 400px;
  padding-bottom: 0;
}

.finance > .project__container {
  background: #eb714b;
  background-size: 480px, 400px;
  padding-bottom: 0;
}

.project__content {
  padding: 86px 0;
}

.small-card .project__content {
  padding: 12px 0 44px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .small-card .project__content {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .small-card .project__content {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .project__content {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .project__content {
    padding: 0px;
  }
}

.project__title {
  text-align: left;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .project__title {
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 768px) and (min-width: 280px) {
  .project__title {
    font-size: 48px;
    font-size: calc( 0.01552 * 100vw + 25.65517px);
  }
}

@media (max-width: 768px) and (min-width: 1440px) {
  .project__title {
    font-size: 48px;
  }
}

.project__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 370px;
  margin-bottom: 12px;
}

@media (min-width: 280px) {
  .project__text {
    font-size: 48px;
    font-size: calc( 0.00345 * 100vw + 13.03448px);
  }
}

@media (min-width: 1440px) {
  .project__text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .project__text {
    max-width: none;
    text-align: center;
  }
}

.project__stack {
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2px;
  max-width: 390px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .project__stack {
    max-width: none;
    min-height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.small-card .project__stack {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__technology {
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.project__technology:not(:last-child):before {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}

.project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .project__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.project__button.visit {
  padding: 8px 16px;
  background: #ffffff80;
}

.project__button.github {
  padding: 12px 16px;
  background: transparent;
  border: 2px solid #ede9f21a;
}

.project__button.visit span {
  padding-right: 22px;
}

.project__button.github span {
  padding-left: 22px;
}

.project__icon {
  display: none;
  max-height: 300px;
}

.project__icon.small-card {
  display: block;
}

.project__icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .project__icon {
    display: inline-block;
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  .project__icon {
    max-height: 150px;
  }
}

.project .small-card > .project__icon {
  display: block;
}

.skills {
  text-align: center;
  margin: 0px auto;
}

.skills__text:not(:first-child) {
  word-spacing: 40px;
}

.skills__text:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .skills__text:not(:first-child) {
    word-spacing: 10px;
  }
}

@media (max-width: 480px) {
  .skills__text:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts {
  text-align: center;
  margin: 0px auto;
}

.contacts__container > *:not(:last-child) {
  margin: 0px 0px 46px 0px;
}

@media (max-width: 768px) {
  .contacts__container > *:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 480px) {
  .contacts__container > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

.contacts__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 125%;
  color: #00ff41;
  padding: 4% 3%;
  background: rgba(0, 255, 65, 0.1);
  border-radius: 100px;
}

.contacts__buttons {
  max-width: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  max-width: 725px;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__button {
  padding: 12px 24px;
}

.contacts__button span {
  padding-left: 22px;
}
