@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:,regular,500,700);
@import "./variables.scss";
@import "./mixins.scss";
@import "./samples.scss";
@import "./nullstyle.scss";

/* === COMMON CLASSES === */

.wraper {
    min-height: 100%;
    background-color: $mainColor;
    padding: 0 20px 150px;
    box-sizing: content-box;
    background: url("../img/Ñlapping_hands.svg") bottom center no-repeat;

    @media (max-width: 480px) {
        padding-bottom: 200px;
    }
}

.container {
    max-width: 940px;
    margin: 0px auto;
}

.email > span {
    background: url("../img/email.svg") left center no-repeat;
}
.telegram > span {
    background: url("../img/telegram.svg") left center no-repeat;
}
.linkedin > span {
    background: url("../img/linkedin.svg") left center no-repeat;
}
.github > span {
    background: url("../img/github.svg") left center no-repeat;
}
.resume > span {
    background: url("../img/resume.svg") left center no-repeat;
}

.visit > span {
    background: url("../img/arrow-white.svg") right center no-repeat;
}

.small-card {
    flex: 0 1 49% !important;

    @media (max-width: 768px) {
        flex: 1 1 100% !important;
    }
}

/* ====================================== */

.main {
    padding: 80px 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__emoji {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }
    &__text {
        @extend %text;
        max-width: 810px;
        // margin-bottom: 40px;
        margin-bottom: 10px;

        span {
            opacity: 0.45;
        }
    }
    &__buttons {
        display: flex;
        gap: 12px;
        max-width: 725px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__button {
        @extend %button;
        padding: 12px 24px;

        span {
            padding-left: 22px;
        }
    }
}

.summary {
    @extend %padding;
    max-width: 720px;
    margin: 0px auto;

    &__text {
        @extend %text;

        span {
            color: $green;
            &:last-child {
                color: $ping;
            }
        }
    }
}

.projects {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 12px;
    }

    &__project {
        flex: 1 1 100%;
    }
}

.project {
    overflow: hidden;
    border-radius: 80px;
    &:not(.small-card) {
        margin-bottom: 12px;
    }

    @media (max-width: 768px) {
        border-radius: 40px;
        &:not(:last-child) {
            margin-bottom: 12px !important;
        }
    }

    &.small-card {
        display: flex;
    }

    &__container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 32px 60px;
        overflow: hidden;
        background: $purple;
        border-radius: 80px;
        position: relative;

        .small-card > & {
            padding: 20px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 20px;
            padding-bottom: 0px;
            border-radius: 40px;
        }

        .light-crypto > & {
            background: url("../img/projects/light-crypto.png") right center no-repeat, $purple;
            background-size: 480px, 400px;

            @media (max-width: 768px) {
                background: $purple;
            }
        }
        .users > & {
            background: url("../img/projects/users.png") right center no-repeat, $blue;
            background-size: 480px, 400px;

            @media (max-width: 768px) {
                background: $blue;
            }
        }

        .ruby > & {
            background: $darkBlue;
            background-size: 480px, 400px;
            padding-bottom: 0;
        }

        .finance > & {
            background: $orange;
            background-size: 480px, 400px;
            padding-bottom: 0;
        }
    }

    &__content {
        padding: 86px 0;

        .small-card & {
            padding: 12px 0 44px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0;
            @media (max-width: 768px) {
                padding: 20px 0;
            }

            @media (max-width: 480px) {
                padding: 0px;
            }
        }

        @media (max-width: 768px) {
            padding: 20px;
        }
        @media (max-width: 480px) {
            padding: 0px;
        }
    }

    &__title {
        @extend %text;
        text-align: left;
        margin-bottom: 8px;

        @media (max-width: 768px) {
            text-align: center;
            @include fluidFontSize(30px, 48px, 280px, 1440px, 48px);
        }
    }

    &__text {
        @include fluidFontSize(14px, 18px, 280px, 1440px, 48px);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        max-width: 370px;
        margin-bottom: 12px;

        @media (max-width: 768px) {
            max-width: none;
            text-align: center;
        }
    }

    &__stack {
        min-height: 42px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        row-gap: 2px;
        max-width: 390px;
        column-gap: 20px;
        margin-bottom: 12px;

        @media (max-width: 768px) {
            max-width: none;
            min-height: auto;
            justify-content: center;
        }

        .small-card & {
            justify-content: center;
        }
    }

    &__technology {
        font-weight: 700;
        font-size: 13px;
        line-height: 154%;
        text-transform: uppercase;
        color: $white;
        position: relative;

        &:not(:last-child):before {
            content: "";
            position: absolute;
            right: -11px;
            bottom: 50%;
            transform: translateY(50%);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $white;
        }
    }

    &__buttons {
        display: flex;
        column-gap: 12px;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        &.visit {
            padding: 8px 16px;
            background: $lightGray;
        }
        &.github {
            padding: 12px 16px;
            background: transparent;
            border: 2px solid $darkGray;
        }

        &.visit span {
            padding-right: 22px;
        }
        &.github span {
            padding-left: 22px;
        }
    }

    &__icon {
        display: none;
        max-height: 300px;

        &.small-card {
            display: block;
        }

        img {
            max-width: 100%;
            object-fit: cover;
        }

        @media (max-width: 768px) {
            display: inline-block;
            max-height: 250px;
        }

        @media (max-width: 500px) {
            max-height: 150px;
        }
    }

    .small-card {
        & > .project__icon {
            display: block;
        }
    }
}

.skills {
    @extend %padding;
    text-align: center;
    margin: 0px auto;

    &__text {
        @extend %text;

        &:not(:first-child) {
            word-spacing: 40px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            &:not(:first-child) {
                word-spacing: 10px;
            }
        }

        @media (max-width: 480px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.contacts {
    @extend %padding;
    text-align: center;
    margin: 0px auto;

    &__container > *:not(:last-child) {
        margin: 0px 0px 46px 0px;

        @media (max-width: 768px) {
            margin: 0px 0px 25px 0px;
        }
        @media (max-width: 480px) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__label {
        @extend %text;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 125%;
        color: $green;
        padding: 4% 3%;
        background: rgba(0, 255, 65, 0.1);
        border-radius: 100px;
    }

    &__text {
        @extend %text;
    }

    &__buttons {
        max-width: 725px;
        display: flex;
        gap: 12px;
        max-width: 725px;
        margin: 0px auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__button {
        @extend %button;
        padding: 12px 24px;

        span {
            padding-left: 22px;
        }
    }
}
