@import "./mixins.scss";
@import "./variables.scss";

%text {
    @include fluidFontSize(24px, 50px, 280px, 1440px, 48px);
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.03em;
    color: $white;
}

%button {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $white;
    border: 1px solid $white;
    border-radius: 100px;
    transition: all 0.2s ease;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: $hoverColor;
        transition: all 0.3s ease;
    }
}

%section {
    min-height: 80vh;
    
    @media (max-width: 992px) {
        min-height: 60vh;
    }
    
    @media (max-width: 480px) {
        min-height: 50vh;
    }
}
