$mainColor: #080808;
$hoverColor: #ffffff1a;
$white: #ffffff;
$ping: #ff00d6;
$green: #00ff41;
$blue: #2a84eb;
$darkBlue: #2e6eff;
$purple: #7c53f2;
$lightGray: #ffffff80;
$darkGray: #ede9f21a;
$orange: #eb714b;