$mainColor: #080808;
$hoverColor: #ffffff1a;
$white: #ffffff;
$lightGray: #ffffff80;
$lightGray2: #ffffffb3;
$ping: #ff00d6;
$green: #3CF56C;
$blue: #2a84eb;
$darkBlue: #2e6eff;
$purple: #7c53f2;
$darkGray: #ede9f21a;
$orange: #eb714b;
$turquoise: #00F0FF;



